header#header {
    background-color: white !important;
    box-shadow: 0 2px 4px #00000014;
    border-bottom: 1px solid #262626;
    display: inline-flex;
    top: 0;
    width: 100%;
    z-index: 2000;
    height: 50px;
    position: absolute;
    box-sizing: border-box;
    justify-content: space-between;
  }

  #nextcloud {
    padding: 7px 0;
    padding-left: 86px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    opacity: 1;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  a * {
    cursor: pointer;
  }

  a {
    border: 0;
    color: var(--color-main-text);
    text-decoration: none;
    cursor: pointer;
  }

  #theming-preview-logo,
  #header #nextcloud {
    padding-left: 64px;
  }

  #header #header-left,
  #header .header-left {
    flex: 1 0;
    white-space: nowrap;
    min-width: 0;
  }

  #header #header-right,
  #header .header-right {
    justify-content: flex-end;
    flex-shrink: 1;
  }

  #header .header-right > div,
  #header .header-right > form {
    height: 100%;
    position: relative;
  }

  #header #navbar-menu-apps #menu-apps-btn {
    cursor: pointer;
    position: relative;
  }

  #header #navbar-menu-apps #menu-apps-btn #dropdownMenuAppsButton {
    cursor: pointer;
    height: 16px;
    margin-right: 16px;
  }

  #header
    #navbar-menu-apps
    #menu-apps-btn
    #dropdownMenuAppsButton
    #menu-apps-icon {
    height: 16px;
    width: 16px;
  }

  #header div#navbar-menu-apps {
    display: flex;
    align-items: center;
  }

  #header #navbar-menu-apps .dropdown-menu {
    display: none;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 20%) 0 3px 8px;
    margin-top: -2px;
    padding: 10px;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 2000;
    background-color: white;
    top: 33px;
    right: -14px;
    left: auto;
  }

  #header #navbar-menu-apps .dropdown-menu ul {
    list-style: none;
    display: grid;
    flex-wrap: wrap;
    padding: 15px 2px 0 0;
    margin-bottom: 0;
    grid-template-columns: 82px 82px 82px;
    grid-gap: 12px 2px;
  }

  #header #navbar-menu-apps .dropdown-menu ul li.app a.app-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    color: #262626;
    text-decoration: none;
  }

  #header #navbar-menu-apps .dropdown-menu ul li.app a.app-link .icon {
    width: 40px;
    height: 40px;
    background-color: #cc0066;
    border-radius: 0.25rem;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #header #navbar-menu-apps .dropdown-menu ul li.app a.app-link .icon i {
    color: #fff;
    font-size: 19px;
  }

  #header #navbar-menu-apps .dropdown-menu ul li.app a.app-link .text {
    text-align: center;
    margin-top: 4px;
    height: 26px;
    font-size: 13px;
    line-height: 15px;
    overflow-wrap: anywhere;
  }

  #header #header-left,
  #header .header-left,
  #header #header-right,
  #header .header-right {
    display: inline-flex;
    align-items: center;
  }
